<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
hola {{usuario}}: el año es {{hora|date:"Y"}}
<!--  VER LA DOCUMENTACION DE TAGS Y FILTROS 
  EJEMPLO:
  {% for elemento in lista %} 
	<li class="{% cycle 'rojo' 'azul' %}">{{elemento}}</li>
   {% endfor %}
  -->
</body>
</html>